<!DOCTYPE HTML>
<html>

<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var url = 'http://127.0.0.1';
            var port = '5000';
            var socket = io.connect(url + ':' + port);

            socket.on('status_response', function(msg) {
                console.log(msg);
                var date = new Date();
                $('#status').append('<p>status: ' + msg.data + "Time:"+ date+ '</p>');
            });
        });
    </script>
    <body>
        <div id="status"><div>
    </body>
</head>